# Database
DATABASE_URL=postgresql://postgres:your_password@your-rds-endpoint.region.rds.amazonaws.com:5432/exiuscart

# JWT Secret
JWT_SECRET_KEY=your-super-secret-key-change-this
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# App
APP_NAME=ExiusCart API
DEBUG=True
